<section id="livros20140-books">

  <div id="livros2014-book-openning">
    <div id="livros2014-book-open1"></div>
    <div id="livros2014-book-open2"></div>
    <div id="livros2014-book-open3"></div>
    <div id="livros2014-book-open4"></div>
    <div id="livros2014-book-open5"></div>
    <div id="livros2014-book-open6"></div>
    <div id="livros2014-book-open7"></div>
  </div>

  <div id="livros2014-book-open">
    <div id="livros2014-book-left">
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna1.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna2.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna3.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna4.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
    </div>
    <div id="livros2014-book-right">
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna5.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna6.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna7.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
      <ul class="livros2014-coluna">
      <% data.livros2014.info.livros.coluna8.each do |livro| %>
        <%= partial('book', :locals => { :book => livro }) %>
      <% end%>
      </ul>
    </div>
    <div id="livros2014-book-name">
      <h3></h3><p></p>
    </div>
  </div>

  <div id="livros2014-book-info">
    <div id="livros2014-book-info-image">
      <%= image_tag 'livros2014/books/cuca001.jpg', width: '', height: '' %>
      <div id="livros2014-sobre">
        <%= data.livros2014.info.geral.sobre %>
      </div>
      <div id="livros2014-voltar">
        <%= data.livros2014.info.geral.voltar %>
      </div>
    </div>
    <div id="livros2014-book-info-player"></div>
    <div id="livros2014-book-info-author">
      <h3></h3>
      <p></p>
      <div></div>
    </div>
  </div>

  <div id="livros2014-book-author">
    <div id="livros2014-book-author-content">

    </div>
    <div id="livros2014-book-author-back"></div>
  </div>

  <div id="livros2014-book-prize">
    <div id="livros2014-book-prize-content">
      <p>
        Tudo começa em março, quando especialistas e apaixonados por literatura infantil enviam para a CRESCER seus livros preferidos de 2013. Depois, cruzamos os dados e chegamos aos 29 melhores! O 30º título, que fecha a lista, é escolhido pelo leitor!
      </p>
      <h3>Os nossos jurados</h3>
      <p>Todos os anos, no mês de março, uma turma de especialistas e apaixonados por literatura infantil – e com vivências bem diferentes entre si – enviam para a CRESCER uma lista dos lançamentos preferidos  do ano anterior no Brasil. Cruzando os dados, e com a expertise de nossa equipe, chegamos aos 29 melhores. O 30º foi escolhido por você, no site <a href="http://revistacrescer.globo.com/" target="blank">crescer.com.br</a></p>
      <ul>
        <li><b>Alice Áurea Penteado Martha</b>, doutora em Letras, é professora da Universidade Estadual de Maringá e votante da Fundação Nacional do Livro Infantil e Juvenil (FNLIJ)</li>
        <li><b>Ana Crelia Dias</b>, doutora em Literatura Brasileira pela UFRJ e membro do Núcleo de Literatura Infantil e Juvenil da mesma universidade</li>
        <li><b>Ana Paula da Costa Carvalho de Jesus</b>, professora de Língua Portuguesa e Literatura do Ensino Fundamental do Colégio São Domingos e professora de Literatura Infantil do curso de pós-graduação Latu-sensu da PUC-SP</li>
        <li><b>Ângela Müller de Toledo</b>, resenhadora da Bibliografia Brasileira de Literatura Infantil e Juvenil e bibliotecária escolar com especialização em produção cultural para crianças e jovens</li>
        <li><b>Babi Lazari</b>, vendedora do setor infantil da Livraria da Vila (SP)</li>
        <li><b>Beatriz Cattani</b>, bibliotecária formada pela USP, trabalha em bibliotecas escolares há mais de 20 anos, com aquisição, leitura e seleção de livros de literatura</li>
        <li><b>Beto Silva</b>, pedagogo e consultor nas áreas de leitura, literatura e juventude, trabalha na A Cor da Letra e no Instituto Clio – Cultura, Leitura e Juventude</li>
        <li><b>Celina Bodenmüller</b>, proprietária da PanaPaná Livraria Infantil (SP)</li>
        <li><b>Claudia Amorim</b>, jornalista e sócia da livraria infantojuvenil Malasartes (RJ)</li>
        <li><b>Cristiane Rogerio</b>, jornalista, pesquisadora de literatura infantil e cultura para a infância e idealizadora do site Esconderijos do Tempo</li>
        <li><b>Denize Bianchi Silveira Carvalho</b> e <b>Maria Angela Prado de Melo Aranha</b>, sócias da livraria infantojuvenil Casa de Livros (SP)</li>
        <li><b>Fernanda Glaessel Ramalho</b>, pedagoga formada pela Universidade de São Paulo (USP), pós-graduanda em Alfabetização pelo Instituto Superior de Educação Vera Cruz (ISEVEC), coordenadora e formadora de diversos programas de formação na empresa Movimenta</li>
        <li><b>Gloria Pimentel Correia Botelho de Souza</b>, mestre em Literatura Comparada, especialista em Literatura Infanto-Juvenil pela UFRJ e autora de A Literatura Infanto-Juvenil Brasileira Vai Muito Bem, Obrigada! (Ed. DCL)</li>
        <li><b>Glória Valladares Granjeiro</b>, bibliotecária especialista em literatura infantojuvenil, é membro do Projeto Alfabetização de Ribeirinhos da Amazônia e Coordenadora do Projeto Leitura no Sítio</li>
        <li><b>Inês De Biase</b>, educadora, especialista em leitura, professora de oficinas literárias para crianças e de formação de professores e coordenadora das bibliotecas da Escola Parque (RJ)</li>
        <li><b>Isis Valéria Gomes</b>, presidente da FNLIJ e especialista em avaliações de acervos e programas de leitura</li>
        <li><b>Juliana Silva Loyola</b>, professora do Departamento de Letras da UNIFESP/Guarulhos, junto à área de Estudos Literários, trabalha com Literatura Infantil e Juvenil e com ensino de Literatura</li>
        <li><b>Laura Sandroni</b>, mestra em Literatura Brasileira pela UFRJ, foi membro da equipe que criou a Fundação Nacional do Livro Infantil e Juvenil, que dirigiu por 16 anos, hoje é membro do Conselho Curador e do júri dos prêmios</li>
        <li><b>Lourdes Atié</b>, consultora pedagógica das redes pública e privada de ensino, foi coordenadora pedagógica do Prêmio Vivaleitura de 2006 a 2012</li>
        <li><b>Luciane Dorigam</b>, gerente comercial de livros da Livraria Cultura</li>
        <li><b>Malu Custódio Souto</b>, proprietária da Livraria Companhia Ilimitada (SP), especializada em literatura infantojuvenil</li>
        <li><b>Mara Dias</b>, mestre em Linguagem e Educação pela Faculdade de Educação da USP, trabalha com formação de professores e com assessoria de língua portuguesa e literatura em escolas públicas e particulares</li>
        <li><b>Marcia Wada</b>, mestre em Educação, coordenadora e assessora de projetos sociais e educacionais na A Cor da Letra, no Centro de Estudos em Leitura, Literatura e Juventude e no Instituto Clio – Cultura, Leitura e Juventude, autora do livro Juventude e Leitura</li>
        <li><b>Maria das Graças Garcia</b>, bibliotecária coordenadora do Instituto Brasil Leitor (IBL)</li>
        <li><b>Maria das Graças Monteiro Castro</b>, diretora da Editora UFG, professora do Curso de Biblioteconomia da UFG e votante do prêmio da FNLIJ</li>
        <li><b>Maria de Remédios Ferreira Cardoso</b>, diretora da Educação Infantil da Escola Móbile (SP)</li>
        <li><b>Maria dos Prazeres Mendes</b>, professora doutora em Comunicação e Semiótica pela PUC/SP, leciona Literatura Infantojuvenil na USP, no Programa de Pós-Graduação de Estudos Comparados de Literaturas de Língua Portuguesa</li>
        <li><b>Maria José Nóbrega</b>, com mestrado em Filologia e Língua Portuguesa pela USP, atuou em programas de formação continuada junto ao MEC, hoje assessora escolas e coordena projetos de leitura</li>
        <li><b>Marília Fróis</b>, educadora da Associação Vaga Lume</li>
        <li><b>Marisa Borba</b>, pedagoga e votante do prêmio anual da FNLIJ</li>
        <li><b>Mirian Chaves Carneiro</b>, psicóloga, contadora de histórias, professora do Projeto Mala de Leitura da UFMG e formadora do Centro de Alfabetização Leitura e Escrita - CEALE/FAE/UFMG, além de criadora e coordenadora voluntária da Biblioteca Comunitária “Etelvininha Lima” do Instituto Dona Peninha em BH/MG</li>
        <li><b>Nanci Gonçalves da Nóbrega</b>, doutora em Comunicação Social/Ciência da Informação pela UFRJ, coordenadora do Sítio da Leitura do Instituto Interdisciplinar de Leitura da PUC-Rio – IILER, é especialista em Acervos, Narrativas e Mediação de Leitura</li>
        <li><b>Neide Medeiros Santos</b>, doutora em Estudos Literários, crítica literária da Fundação Nacional do Livro Infantil e Juvenil, professora do Curso de Aperfeiçoamento em Literatura Infantil no Zarinha Centro de Cultura, de João Pessoa (PB) e autora de Livros À Espera do Leitor</li>
        <li><b>Paola Pio da Costa</b>, professora do colégio Maristinha Pio XII (Brasília), dá consultoria em escolas, em projetos de leitura e literatura</li>
        <li><b>Rosa Maria Ferreira Lima</b>, bibliotecária, especialista em Leitura e Formação de Leitores, votante da Seleção Anual da FNLIJ, coordenadora do PROLER no Maranhão e diretora da Biblioteca Pública Benedito Leite do Estado do Maranahão</li>
        <li><b>Silvia Oberg</b>, doutora em Ciência da Informação com especialização em literatura infantil e juvenil, coordena projetos na área de leitura e literatura</li>
        <li><b>Stela Maris Fazio Battaglia</b>, com mestrado e doutorado na área de Linguagem e Educação pela USP, coordena projetos de formação de mediadores de leitura com enfoque em literatura infantil e juvenil.</li>
      </ul>
        
        
    </div>
    <div id="livros2014-book-prize-back"></div>
  </div>


  <div id="livros2014-back-home"></div>

  <div id="livros2014-open-prize"></div>

</section>