<li class="book">
  <span class="image">
    <%= image_tag 'livros2014/books/thumb/' + book.imagem, :width => '80', :alt => book.titulo %>
  </span>
  <span class="titulo"><%= book.titulo %></span>
  <span class="editora"><%= book.editora %></span>
  <span class="preco"><%= book.preco %></span>
  <span class="descricaoLivro"><%= book.descricaoLivro %></span>
  <span class="autores"><%= book.autores %></span>
  <span class="descricaoAutores"><%= book.descricaoAutores %></span>
  <span class="ilustrador"><%= book.ilustrador %></span>
  <span class="video"><%= book.video %></span>
  <span class="descricaoIlustrador"><%= book.descricaoIlustrador %></span>
  <span class="linkIlustrador"><%= book.linkIlustrador %></span>
  <span class="linkVideo"><%= book.video %></span>
</li>
